AHREFS_API_TOKEN = "ahrefs_v3_token_here"
AIRTABLE_API_KEY = "pat_xxx_airtable_personal_access_token"

AIRTABLE_BASE_ID = "appDEgCV6C4vLGjEY"
AIRTABLE_TABLE = "Sheet1"
AIRTABLE_VIEW = "Grid view"
AIRTABLE_DOMAIN_FIELD = "Domain"
AIRTABLE_GEO_FIELD = "Sheet Name (Geo)"
GAMBLING_DOMAIN = "gambling.com"

BLOCKLIST_BASE_IDS = "appUoOvkqzJvyyMvC,appHdhjsWVRxaCvcR,appVyIiM5boVyoBhf,appJTJQwjHRaAyLkw"
BLOCKLIST_TABLE_NAME = "Domains"
BLOCKLIST_DOMAIN_FIELD = "Domain"
